body {
    font-family: 'Montserrat', sans-serif;
}
ul,ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
a {
    text-decoration: none;
}
p,h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}
img {
    display: block;
}
button {
    cursor: pointer;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111;
}
.subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #111;
}
.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: #111
}
.container {
    width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
/* _________header________ */
.header {
    padding-top: 24px;
    padding-bottom: 32px;
}
.header-container {
    display: flex;
    gap: 90px;

}
.header-navigation {
    display: flex;
    flex-grow: 1;
}

.header-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    color: #111;
    display: flex;
    align-items: center;
}
.header-logo-italic {
    font-style: italic;
}

.header-image {}

.header-menu-list {
    display: flex;
    gap: 24px;
    margin-left: auto;
}

.header-menu-item {}

.header-menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #111;
    transition-duration: 300ms;
}
.header-social-icon{
    fill: transparent;
    stroke:#111111;
}
.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active{
    color: #fd9222;
}

.header-social-list {
    display: flex;
    gap: 14px;
}

.header-social-item {}

.header-social-link {

}
.header-social-icon{
    stroke-width: 1.50px;
    stroke: #111;
    transition-duration: 300ms;
}
.header-social-icon:hover,
.header-social-icon:focus {
    color: #fd9222;
}
/* .header-social-icon:hover,
.header-social-icon:focus {
    color: #fd9222;
} */
/* _________hero_______ */
.hero {
    padding-bottom: 80px;
}
.hero-container {
    background-color: rgba(17, 17, 17, 0.6);
    background-image: url(../images/chocolate_main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    padding: 380px 40px 40px 40px;
}
.hero-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    color: #fff;
    margin-bottom: 32px;
    max-width: 484px;
}
.hero-buttons {
    display: flex;
    align-items: center;
}
.hero-btn {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    background: #fd9222;
    border-radius: 100px;
    border: none;
    padding: 14px 40px;
    margin-right: 14px;
}
.hero-btn:hover,
.hero-btn:focus {
    background: #fcf1e0;
    font-weight: 600;
    font-size: 14px;
    color: #fd9222;
}
.hero-link {
    font-size: 14px;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 100px;
    padding: 14px 40px;
}
.hero-link:hover,
.hero-link:focus {
    font-size: 14px;
    color: #fd9222;
    border: 1px solid #fd9222;
    background-color: #fff;
    border-radius: 100px;
    padding: 14px 40px;

}
.hero-scroll {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.03em;
    color: #fff;
    margin-left: auto;
}
.hero-scroll:hover,
.hero-scroll:focus {
font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.03em;
    color: #fd9222;
}

.hero-scroll::after{
    content: '';
    border-radius: 100%;
    fill: #fff;
    width: 38px;
    height: 38px;
    transform: rotate(-90deg);
    position: absolute;
}
/* _______benefits______ */
.benefits {
    background-color: #1e1823;
    padding-top: 50px;
    padding-bottom: 50px;
}
.benefits-list {
    display: flex;
    padding: 0 18px;
    gap: 88px;
}

.benefits-item {
    width: calc((100% - 2 * 88px) / 3);
    position: relative;
}
.benefits-item.current::after{
    content: '';
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 124px;
    height: 0px;
    display: flex;
    transform: rotate(-90deg);
    position: absolute;
    right: -105px;
    top: 113px;
}
.benefits-subtitle::before {
    content: '';
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 365px;
    width: 62px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 7px;
    margin-bottom: 22px;
}
.benefits-subtitle {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-bottom: 18px;
}

.benefits-item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}

/* ________taste___ */
.taste {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #fafafa;
}

.taste-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    color: #111;
    max-width: 412px;
    margin-bottom: 28px;
}
.title-colored {
    color: #fd9222;
}
.taste-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-align: center;
    color: #111;
    max-width: 486px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.taste-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 32px;
}

.taste-item {
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    width: calc((100% - 3 * 32px) / 4);
    text-align: center;
    padding-top: 28px;
    padding-bottom: 28px;
}
.taste-item:nth-child(4n+1) {
    background-color: #fd9222;
}
.taste-item:nth-child(4n+3) {
background: #1e1823;
}

.taste-image {
    margin: 0 auto;
    margin-bottom: 36px;
}

.taste-subtitle {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #111;
}
/* _______made_____ */
.made {
    padding-top: 120px;
    background-color: #fafafa;
}

.made-title {
    margin-bottom: 50px;
}

.made-image {}

.made-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    color: #111;
    margin-bottom: 28px;

}
.made-section {
    display: flex;
}
.made-list {}
.made-preperation {
    background-color: #fff;
    width: 512px;
    height: 400px;
    padding: 32px 32px 32px 32px;
    margin-left: 20px;
}
/* .made-item::before{
    border-radius: 100%;
    fill: #4c4c4c;
    stroke-width: 1px;
    stroke: #eceded;
} */
.made-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #111;
    margin-bottom: 24px;
}
/* _______products_______ */
.products {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #fafafa;
}

.products-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111;
    margin-bottom: 50px;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 18px;
}

.products-item {
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    background-color: #fff;
    width: calc((100% - 54px) / 4);
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.products-image {
    margin: 0 auto;
    margin-bottom: 8px;
}

.products-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #111;
    margin-bottom: 2px;

}

.products-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
    margin-bottom: 18px;
}

.products-btn {
    font-weight: 600;
    font-size: 14px;
    color: #111;
    background-color: #fafafa;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    padding: 8px 20px;
}

/* _________sallers_______ */

.sallers {
    padding-bottom: 120px;
    background-color: #fafafa;
}

.sallers-title {
    margin-bottom: 50px;
}

.title-colored {}

.sallers-list {
    display: flex;
    gap: 16px;
}

.sallers-item {
    width: calc((100 - 2 * 16px)/ 3);
    position: relative;
}
.sallers-item:hover .sallers-cover-text{
    transform: translateY(0);
}
.sallers-cover-wrap {
    position: relative;
    overflow: hidden;
}
.sallers-image {}
.sallers-cover-text {
    position: absolute;
    top: 0;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #fafafa;
    backdrop-filter: blur(15px);
    background: linear-gradient(161deg, rgba(253, 253, 255, 0.1) 0%, rgba(8, 2, 21, 0.1) 100%);
    height: 100%;
    padding: 0 40px;
    display: flex;
    align-items: center;
    transform: translateY(100%);
    transition: transform 300ms linear;
}
.sallers-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #111;
    padding: 28px 0;
    text-align: center;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-top: none;
    border-radius: 0 0 15px 15px;
}


/* _________reviews_____ */

.reviews {
    padding-bottom: 120px;
    background-color: #fafafa;
}

.reviews-title {
    margin-bottom: 90px;
}

.reviews-list {
    display: flex;
    gap:28px;
    margin-bottom: 50px;
}

.reviews-item {
    width: calc((100% - 2 * 28px) / 3);
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
    padding: 56px 24px 24px 24px;
    position: relative;
}

.reviews-image {
    position: absolute;
    top: -42px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.reviews-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: #111;
    margin-bottom: 24px;
}

.reviews-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
}

.reviews-btn {
    font-weight: 600;
    font-size: 18px;
    color: #111;
    border: 1px solid #fd9222;
    border-radius: 100px;
    padding: 14px 40px;
    width: 222px;
    height: 50px;
    display: block;
    margin: 0 auto;
    background-color: transparent;
}
.reviews-btn:hover,
.reviews-btn:focus{
    background-color: #fd9222;
    font-weight: 600;
        font-size: 14px;
        text-align: center;
        color: #fff;
}
/* ________footer______ */
.footer {
    background-color: #1e1823;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-top{
    display: flex;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 24px;
}
.footer-soc-info{
    margin-right: 50px;
}
.footer-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.02em;
    color: #fff;
    max-width: 300px;
    margin-right: auto;
}
.footer-social {
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #fff;
    margin-bottom: 14px;
}

.footer-social-list {
    display: flex;
    gap: 14px;
}

.footer-social-item {}

.footer-social-link {}
.footer-social-icon{
    fill: transparent;
    stroke: #fff;
}
.footer-contact{}
.footer-addres {
    font-style: normal;
}

.footer-subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #fff;
    margin-bottom: 14px;
}

.footer-addres-list {

}

.footer-addres-item {

}

.footer-addres-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fff;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.footer-navigation {

}

.footer-nav-list {
    display: flex;
    gap: 24px;
}

.footer-nav-item {
}

.footer-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #fff;
}
.form-footer{
    display: flex;
    gap:8px;
}
.footer-form-wrap{

}
.footer-input {
    border: 1.50px solid rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    background-color: transparent;
    color: #fff;
    width: 313px;
    height: 52px;
    padding: 0 24px;
}
.footer-input::placeholder{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.3);
}

.footer-form-btn {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    border-radius: 100px;
    border: none;
    padding: 17px 32px;
    background-color: #fd9222;
}
/* .backdrop{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    position: fixed;
    top: 0;
}
.modal {
    position: absolute;
    width: 517px;
    min-height: 794px;
    background-color: #fafafa;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px; */
}
.modal-close {
}